@tailwind base;
@tailwind components;
@tailwind utilities;


.globalBackground {
  background:
    linear-gradient(
    130deg ,
    rgba(171, 17, 51, 1) 30%,
      rgba(255, 51, 102, 0.75)  
    ),
    linear-gradient(
    200deg ,
    #AB1133 50%,
      #FF3366 50% );
    padding: 0 10rem;
}
.blog{
  width: 700px;
  height: 500px;
  margin-bottom: 20px;
}
.blogImg{
  width: 660px;
  height: 250px;
}
.blogText{
  width: 650px;
  height: 100px;
  text-align: center;
}
.RecentPosts{
  height: 400px;
}
.Stickman{
  position: sticky;
  top: 20px;
  height: 600px;
  width: 400px;
}
.PostBlogForm{
  width: 500px;
  height: 580px;
  border-radius: 10px;
  background-color: white;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.adminBlog{
  width: 500px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  flex-direction: column;
}
.LoginForm{
  width: 500px;
  height: 400px;
  border-radius: 10px;
  background-color: white;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.SingUpForm{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: white;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.adminChoose{
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reporterChoose{
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.adminChoose:hover{
  transition: 0.2s;
  width: 420px;
  height: 420px;
}
.reporterChoose:hover{
  width: 420px;
  height: 420px;
  transition: 0.2s;
}
.reporterBlog{
  width: 400px;
  height: 400px ;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: whitesmoke;
  border-radius: 20px;
}
.BlogPageReporter{
  height: 1000px;
  width: 90%;
  background-color: white;
  border-radius: 30px;
  margin: 20px auto;
}
.blogTextarea{
  height: 440px;
  resize: none;
}
.smallProfile{
  height: 350px;
}
.AdminProfilePageBlog{
  width: 500px;
  height: 400px;
}
.wordWrap{
  overflow-wrap: break-word;
  hyphens: manual;
}
.reporterStickman {
  position: sticky;
  top:10px
}
.UserPageProfileLeft {
  width: 400px;
  height: 500px;
  position: sticky;
  top: 20px;
}
.search{
  height: 200px;
  position: absolute;
  top: 3.4rem;
  left:20.4rem;
}